.box1 {
  background-color: red;
}
.box2 {
  /* background-color: blue; */
}
.box3 {
  margin: 10px;
  position: fixed;
  width: 100%;
}

.item-post {
  padding: 15px 10px;
  margin: 10px;
}

.item-user-card-small {
  padding: 10px;
  border-bottom-width: 10px;
}

.paper-user-small {
  margin-top: 10px;
  width: 100%;
}

.wrapper-box3 {
  position: relative;
}